@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import './responsive.scss';

:root {

    // colors
    --white: rgb(255, 255, 255);
    --cyan: rgb(42, 207, 207);
    --dark-violet: rgb(59, 48, 84);

    --red: rgb(244, 98, 98);

    --gray: rgba(191, 191, 191, 0.246);
    --grayish-violet: rgb(158, 154, 167);
    --very-dark-blue: rgb(53, 50, 62);
    --very-dark-violet: rgb(35, 33, 39);

    --background-primary: var(--white);
    --background-secondary: var(--gray);
    --background-tersiary: var(--dark-violet);
    --background-footer: var(--very-dark-violet);
    --background-button: var(--cyan);
    --background-button-active: rgba(42, 207, 207, 0.509);

    --color-text: var(--grayish-violet);
    --color-error: var(--red);
    --color-title-light: var(--white);
    --color-title-dark: var(--very-dark-violet);
    --color-line-through: var(--cyan);

    // fonts
    --family: 'Poppins', sans-serif;
    --line-height: 1.7;
    --font-size: 18px;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;

    // layout
    --mobile: 375px;
    --tablet: 720px;
    --desktop: 1120px;
    --side: 1.4rem;
    --side-double: calc(var(--side) * 2);
    --endpoint: 2.8rem;
    --angles-block: 7px;
    --body-side: max(var(--side), calc(50% - var(--mobile) / 2));

    @media #{$mobileScreen} {
        --body-side: min(var(--side), calc(50% - var(--mobile) / 2));
    }

    @media #{$desktopScreen} {
        --body-side: max(var(--side), calc(50% - var(--desktop) / 2));
    }


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: transparent !important;
}