@import '@/assets/scss/base.scss';

body {
    background: var(--background-primary);
    color: var(--color-text);
    font-family: var(--family);
    font-size: var(--font-size);
    font-weight: var(--weight-medium);
    line-height: var(--line-height);
}

#app {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    place-content: space-between;
}

h1 {
    font-size: 2.8rem;
    color: var(--color-title-dark);
    line-height: 1.1;
}

h2,
h3 {
    font-weight: var(--weight-bold);
    color: var(--color-title-dark);
}

h2 {
    font-size: 1.9rem;
    line-height: 1.4;
}

// class
.body_size {
    padding-left: max(var(--body-padding), calc(50% - var(--mobile) / 2));
    padding-right: max(var(--body-padding), calc(50% - var(--mobile) / 2));
}

.body_center {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.hidden {
    overflow: hidden;
}