  // Desktop
  $desktopScreen: "only screen and (min-width: 1120px)";

  // Tablet
  $tabletScreen: "only screen and (min-width: 790px)";

  // Mobile
  $mobileScreen: "only screen and (min-width: 420px)";

  // Nav
  $navDesktop: " only screen and (min-width: 970px)";